
Computer Vision - xray images/covid-19-dataset/testimage.npy
Computer Vision - xray images/covid-19-dataset/testLabels.csv
Computer Vision - xray images/covid-19-dataset/trainimage.npy
Computer Vision - xray images/covid-19-dataset/trainLabels.csv
